.card{
    width:18rem;
    margin: 10px;
    border:2px solid rgb(56, 2, 58);
    border-radius: 5px;
}
.card-title{
    margin-left: 4%;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: large;
}
.card-price{
    margin-left: 4%;
    font-size: large;
    font-family: cursive;

}

.plus-sign {
    float: right;
    margin-right:5% ;
    font-weight: bold;
    font-size: large;

}
.plus-sign {
    display: inline-block;
    width: 24px; 
    height: 24px; 
    line-height: 24px;
    text-align: center;
    background-color:  rgb(56, 2, 58);
    color: #fff;
    cursor: pointer;
    margin-left: 5px; 
  }
  
  .plus-sign.selected {
    background-color:rgba(189, 128, 190, 0.5)
  }
.card-img-top{
    height: 200px;
    margin-left: 14%;
    margin-top: 4%;
}
