.toast {
  position: fixed;
  top: 65px;
  padding: 10px;
  border-radius: 5px;
  color: white;
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  width: 300px;
  margin-left:80%;
  
}
.buttons-div{
  float:right;
  margin-top: 12%;
}

.toast p {
  margin: 0;
 
}

.success {
  background-color: #4caf50; 
}