.app-container {
    background-color: #333;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: 40px;
    border-radius:50%;
    overflow: hidden;
  }
  .cart {
    padding-left: 420px;
  }
  .cart-icon {
    padding-left: 5px;
  }
  .clothes {
    margin-left: 40%;
  }
  
  .books {
    margin-left: 5%;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  
  .nav-item a:hover {
    color: #ffcc00;
  }
  
  .active-tab {
    color: #ffcc00;
  }
  