.app-container {
    background-color:#3F0E40;
    padding: 10px;
  }
  
  .nav-list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  .logo-link {
    display: flex;
    align-items: center;
  }
  
  .logo {
    height: 40px;
    width: 40px;
    border-radius:50%;
    overflow: hidden;
  }
  .cart {
    padding-left: 420px;
  }
  .cart-icon {
    padding-left: 5px;
  }
  .clothes {
    margin-left: 40%;
  }
  
  .books {
    margin-left: 5%;
  }
  
  .nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
  }
  .nav-items{
    color: white;
    font-weight: bold;

  }
  .nav-items:hover {
 color: #b891be;
     font-weight: bold;
    border-radius: 9px;
    height: 40px;
    width: 120px;
    
   }
   .active-tab:hover {
    background-color: #4F1858;
    color: #fff;
  }
  .active-tab {
    color: white;
    background-color:rgba(189, 128, 190, 0.5);
    /* background-color: rgb(161, 108, 163); */
    /* background-color:rgba(178, 129, 179, 0.5); */

    font-weight: bold;
    border-radius: 9px;
    height: 40px;
    width: 120px;
    text-align: center;
    transition: 'background-color' 0.3s, color 0.3s;
  }

  
  